body, html{ width: 100% ;height:100%; font-size: 16px; font-family: Lobster; box-sizing: border-box;margin: 0;padding: 0;}
*,*:before,*:after{ box-sizing: border-box; }
h1,h2,h3,h4,h5,h6, p, ol, ul{margin: 0;padding: 0;}
ol,ul{list-style-type: none;}
img{height: auto;}


body{
background-color: #8B4000 ;

}

.tabella
{


	color: black;
}



.link_bottone{
	
	padding: 10px;
	background-color:white;
	color: black;
	margin-left:2%;
	
}

.link_bottone:hover
{
	color:white;
	text-decoration:none;
	background-color: darkred;
}

.total_price
{
	margin-bottom:1%;
	display:flex;
	align-items: center;
}

h3{
	height: 90%;
	
}

.tabella_intera
{
width: 90%;
	background-color:white;

}

.container_rimuovi
{
	display:flex;
	justify-content: center;
	align-items:center;
}


.link_bottone_rimuovi
{
	padding: 3px;
	color: black;
	margin-left:0.5%;
	background-color:white;
}

.link_bottone_rimuovi:hover
{
	background-color:darkred;
	text-decoration:none;
	color: white;
}





